<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
<p-toast></p-toast>
<header>

     <!-- Titulo-->
  <span class="home-logo" (click)="goToMain()">
    FIT-MATCH
    <img
  src="assets/images/logo.png"
  width="40" height="40"
  alt="logo"
  (click)="goToMain()">
  
  </span> 

 
</header>
<body>

  <div  *ngIf="fase() === 1 ">
    <form [formGroup]="profileForm">
      <p-card header="Registro" [style]="{ width: '600px' }">
        <p-steps [model]="steps" [readonly]="false"></p-steps>
        <br>
        <div class="p-grid">
  
          <div class="p-col">
  
            <div class="box mu-5 my-5">
              <span class="p-float-label">
                
                <input type="text"  pInputText formControlName = "username" class="w-full" [id]="'username'">
                <label>Nombre de usuario * </label>
              </span>
              <small *ngIf="username.invalid && (username.dirty || username.touched)" class="block p-error">
                <div *ngIf="username.errors?.['required']">El nombre de usuario es obligatorio.</div>
                <div *ngIf="username.errors?.['maxlength']">El nombre de usuario debe tener como máximo 50 caracteres.</div>
              </small>
            </div>  
  
          </div>
  
          <div class="p-col">
            <div class="box mb-5">
              <span class="p-float-label">
                <input type="text"  pInputText  class="w-full"formControlName = "email" [id]="'email'">
                <label >Email *</label>
              </span>
              <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']">El email es obligatorio.</div>
                <div *ngIf="email.errors?.['pattern']">El email no es válido.</div>
              </small>
            </div>
          </div>
  
          <div class="p-col">
            <div class="box mb-5">
              <label for="password">Contraseña</label>
              <span class="p-float-label"> 
                <input
                  type="password"
                  pInputText
                  formControlName="password"
                  class="w-full"
                  name="password"
                  placeholder="Escribe tu contraseña"
                
                />
              </span>
              <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                <div *ngIf="password.errors?.['required']">La contraseña es requerida.</div>
                <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
                <div *ngIf="password.errors?.['pattern']">La contraseña debe incluir al menos una letra mayúscula, mínuscula y un número.</div>
              </small>
            </div>
          </div>
  
          
          <div class="p-col">
            <div class="box mb-5">
              <label for="password">Repite la contraseña</label>
              <span class="p-float-label">
                <input
                  type="password"
                  pInputText
                  formControlName="password2"
                  class="w-full"
                  name="password"
                  
                
                />
              </span>
              <small *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="block p-error">
                <div *ngIf="password2.errors?.['required']">Confirmar la contraseña.</div>
                <div *ngIf="profileForm.errors?.['notEqual']">Las contraseñas no coinciden.</div>
              </small>
            </div>
          </div>
          
         
          <div class="p-col">
                    
            Fecha de nacimiento *
            <div class="box mb-5">
              
              <p-calendar  [minDate]="minDate" [maxDate]="maxDate"  view="date"   formControlName="nacimiento"></p-calendar>
              <small *ngIf="nacimiento.invalid && (nacimiento.dirty || nacimiento.touched)" class="block p-error">
                <div *ngIf="nacimiento.errors?.['required']">La fecha de nacimiento es obligatoria.</div>
                <div *ngIf="nacimiento.errors?.['fechaNacimientoInvalida']"> Debes tener al menos 16 años para acceder</div>
              </small>
            <!--  (onSelect)="updateDate()" -->
            </div>
          </div>
  
            
          <div class="p-col">
            <div class="box mb-5">
              <p-button label="Siguiente" (onClick)="goToFase2()" ></p-button>
            </div>
          </div>
  
    
  
      
          <div class="mt-2">Tienes cuenta? 
            <!--<p-button label="Iniciar Sesión" severity="plain" (onClick)="goToLogin()"></p-button> -->
            <span (click)="goToLogin()"  style="color: blue; cursor: pointer;" >Iniciar sesión aquí</span>
          </div>
        </div>
      </p-card>
    </form>
  </div>

  <div *ngIf="fase() === 2 ">
    <p-card header="Confirmar correo electrónico" [style]="{ width: '800px', height: '500px', overflow: 'auto' }">
      <p-steps [model]="steps" [readonly]="false"></p-steps> <br><br>
  
      <!-- Centro el componente app-emailVerification -->
      <div class="text-center">
        <app-emailVerification [email]="email.value"></app-emailVerification>  
      </div> 
  
       <!-- Botones alineados a los lados en la parte inferior -->
    <div class="text-center mt-5">
      <div class = "inline">
        <!-- Botón a la izquierda -->
        <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="goToFase1()"></p-button>
      </div>
      <div class="inline ml-5">
        <!-- Botón a la derecha -->
        <p-button label="Siguiente" (onClick)="goToFase3()" [disabled]="!emailIsVerified"></p-button>
      </div>
    </div>
    </p-card>
  </div>
  <div *ngIf="fase() === 3 ">	
   
        <p>Hablanos un poco sobre tí. Esta información será útil para recomendarte a los mejores entrenadores! </p>
   

    <div class="col-12">
      <p-card header="Preferencias" [style]="{ width: '800px' }">
        <p-steps [model]="steps" [readonly]="false"></p-steps><br><br>

        <app-matching [label]="'Empezar en FIT-MATCH'" ></app-matching>
        <div class="button-container">
          <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="goToFase1()"  ></p-button>   
        </div>
    </p-card>

    </div>
    
  </div>
  
</body>