<p-toast></p-toast>
<header>

</header>

<body>

  <form [formGroup]="profileForm">
    <p-card header="Inicio de sesión" [style]="{ width: '600px' }">
      <div class="p-grid">

       

        <div class="p-col">
          <div class="box mb-5">
            <span class="p-float-label">
              <input type="text"  pInputText  class="w-full"formControlName = "email" [id]="'email'">
              <label >Email *</label>
            </span>
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
              <div *ngIf="email.errors?.['required']">El email es obligatorio.</div>
              <div *ngIf="email.errors?.['pattern']">El email no es válido.</div>
            </small>
          </div>
        </div>

        <div class="p-col">
          <div class="box mb-5">
            <label for="password">Contraseña</label>
            <span class="p-float-label"> <!-- Faltan form de contraseñas-->
              <input
                type="password"
                pInputText
                formControlName="password"
                class="w-full"
                name="password"
                placeholder="Escribe tu contraseña"
              
              />
            </span>
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
              <div *ngIf="password.errors?.['required']">La contraseña es obligaotia.</div>

            </small>
          </div>
        </div>

        
          
        <div class="p-col">
          <div class="box mb-5">
            <p-button label="Iniciar sesión"  severity="success"></p-button>
          </div>
        </div>

  

    
        <div class="mt-2">No tienes cuenta? 
          <!--<p-button label="Iniciar Sesión" severity="plain" (onClick)="goToLogin()"></p-button> -->
          <span (click)="goToRegister()"  style="color: blue; cursor: pointer;" >Registrate aquí</span>
        </div>
      </div>
    </p-card>
  </form>
</body>